.mob_contain{
margin-left: 10%;
}
.mob_t1{
    width: 279px;
height: 30px;
left: 152px;
top: 84px;

/* Heading/H2 */

font-family: Metropolis;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */


/* Primary/Darktheme */

color: #333333;
}
.mob_t2{
    width: 346px;
height: 42px;
left: 152px;
top: 122px;

/* Heading/H1 */

font-family: Metropolis;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
/* identical to box height, or 117% */


/* Primary/Mainorange */

color: #FF645A;

}
.mob_info{
width: 465px;
height: 40px;
left: 152px;
top: 180px;

font-family: Metropolis;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #797979;

}
.mob_inpt{

background: #FFFFFF;
border: 1px solid #cecdcd !important;
box-sizing: border-box;
border-radius: 4px;
}

.mob_mobicon{
left: 6.67%;
right: 6.67%;
top: 4.35%;
bottom: 1.45%;
background: #797979;
border: 0.5px solid #FFFFFF;

}
.mob_btn{

height: 40px;
background: #FF645A;
border-radius: 4px;
color: white;
}