.footer_top h4{
    width: 92px;
height: 20px;
left: 152px;
top: 40px;

font-family: Metropolis;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;

color: #FF645A;
}
.footer_top h4:after{
    content: "";
    display: block;
    width: 25px;
    padding: 1rem 0 0 0;
    border-bottom: 2px solid #FF645A;
}
.footer_end-logo{
    width: 96px;
height: 32px;
left: 672px;
top: 634px;
align-self: center;
}
.footer_top-one{
    margin-top: 2%;
}
.footer_top-one p{

    width: 34px;
height: 20px;
left: 0px;
top: 0px;
margin: 5%;
font-family: Metropolis;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;

color: #797979;
}
.footer_top-one p:hover{
width: 36px;
height: 20px;
left: 0px;
top: 0px;

font-family: Metropolis;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;

color: #333333;
}
.footer_mid-one h5{
    font-family: Metropolis;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
margin-left: 10px;
color: #FF645A;
margin-bottom: 2%;

}
.footer_mid-one h5:after{
    content: "";
    display: block;
    width: 25px;
    padding: 1rem 0 0 0;
    border-bottom: 2px solid #FF645A;
}
.footer_mid-one p{
    font-size: 14px;
line-height: 20px;

color: #797979;
margin: 7%;

}
.footer_mid-one{
    /* margin: auto;
     
    /* align-items: center; */
    text-align: left; 
}
.footer_end{
     align-items: center;
     text-align: center;
}