input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.main{
    background-image: url("https://im1.dineout.co.in/images/uploads/misc/2021/Mar/31/oldherobannerwebfinal_bau.jpg") ;
    position: relative;
    /* background: #212529; */
    text-align: center;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    margin-top: 0;

 } 
 .div-1{
    width: 100%;
    margin: 0 auto;
 }
 .div-2{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1110px;
    z-index: 9;
 }
 .div2-h1{
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 1rem;
 }
 .div2-h1 span{
    color: #FF645A;
    padding-left: 10px;
 }
.banner{
    width: 100%;
    box-shadow: 2px 4px 5px 0 rgb(204 199 198 / 40%);
    border-radius: 5px;
    background: #fff;
    padding: 0 1rem 0 1.5rem;
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}
.b-span{
    margin-left: 0.2rem;
    height: 22px;
}
.b-span span{
    overflow: hidden;
}

.srch-bar{
    width: 100%;
    margin: 0 2rem 0 1rem;
    font-size: 1.8rem;
    padding: 0 0.5rem;
    height: 38px;
    overflow: visible;
    line-height: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.srch-btn{

}


 .wrap{
    width: 100%;
    box-shadow: 2px 4px 5px 0 rgb(204 199 198 / 40%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    padding: 0 1rem 0 1.5rem;
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
 }
.srch{
    width: 100%;
    margin: 0 2rem 0 1rem;
    font-size: 1.8rem;
    padding: 0 0.5rem;
    height: 38px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;

}
.srch-Btn{
    padding: 0.8rem 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    box-shadow: 0 2px 5px 0 rgb(255 88 84 / 30%);
    background: #FF645A;
    color: #fff;
    border-radius: 0.4rem;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: #333;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    /* background-color: transparent; */
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    overflow: visible;
    
    
}
